In [1]:
import pandas as pd

/tmp/ipykernel_2139/2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

In [4]:
#Check the layout of the dataset

df.head(10)

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,2021-04-14 12:47:00,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,2021-12-14 17:05:00,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,2021-12-14 08:17:00,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,2.0,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,2021-12-14 21:10:00,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,0.0,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,2021-12-14 14:58:00,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [7]:
df.to_csv('motor.csv')

In [8]:
#Check which columns are in the dataset
df.count()

CRASH DATE_CRASH TIME            2018245
BOROUGH                          1390391
ZIP CODE                         1390153
LATITUDE                         1788560
LONGITUDE                        1788560
LOCATION                         1788560
ON STREET NAME                   1593438
CROSS STREET NAME                1262713
OFF STREET NAME                   332435
NUMBER OF PERSONS INJURED        2018227
NUMBER OF PERSONS KILLED         2018214
NUMBER OF PEDESTRIANS INJURED    2018245
NUMBER OF PEDESTRIANS KILLED     2018245
NUMBER OF CYCLIST INJURED        2018245
NUMBER OF CYCLIST KILLED         2018245
NUMBER OF MOTORIST INJURED       2018245
NUMBER OF MOTORIST KILLED        2018245
CONTRIBUTING FACTOR VEHICLE 1    2011897
CONTRIBUTING FACTOR VEHICLE 2    1710336
CONTRIBUTING FACTOR VEHICLE 3     143131
CONTRIBUTING FACTOR VEHICLE 4      32123
CONTRIBUTING FACTOR VEHICLE 5       8670
COLLISION_ID                     2018245
VEHICLE TYPE CODE 1              2005568
VEHICLE TYPE CODE 2              1641255
VEHICLE TYPE CODE 3               138147
VEHICLE TYPE CODE 4                31052
VEHICLE TYPE CODE 5                 8410
dtype: int64

In [52]:
#Q Which borough has had the second highest total number of crashes reported since 2012? (Ignore missing values)


# Filter out records with missing borough information
data_filtered = df[df['BOROUGH'].notnull()]

# Count the number of crashes for each borough
borough_crash_counts = data_filtered['BOROUGH'].value_counts()

# Find the borough with the second highest total number of crashes
second_highest = borough_crash_counts.nlargest(2).index[1]  
second_highest_count = borough_crash_counts.iloc[1]

# Display the result
print("Second highest borough: ", second_highest)
print("number: ",second_highest_count)

Second highest borough:  QUEENS
number:  372457

In [17]:
# Find the number of crashes in each borough

#Consider the entire data set since July 2012
data_filtered = df[df['CRASH DATE_CRASH TIME'] >= '2012-07-01']

# Count the number of crashes in each borough
crash_counts_by_borough = data_filtered['BOROUGH'].value_counts()

print(crash_counts_by_borough)

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64

In [61]:
# Borough populations
populations = {
    'Bronx': 1446788,
    'Brooklyn': 2648452,
    'Manhattan': 1638281,
    'Queens': 2330295,
    'Staten Island': 487155,
}

# crash counts 
crash_counts = {
    'Bronx': 205345,  
    'Brooklyn': 441026,  
    'Manhattan': 313266,  
    'Queens': 372457,  
    'Staten Island': 58297,  
}

# Calculate crash rates per 100,000 people
crash_rates = {borough: (count / populations[borough]) * 100000 for borough, count in crash_counts.items()}

# Find the borough with the highest crash rate
highest_rate_borough = max(crash_rates, key=crash_rates.get)
highest_rate = crash_rates[highest_rate_borough]


print("highest rate borough: ", highest_rate_borough)
print("Number of crash: ", highest_rate)

highest rate borough:  Manhattan
Number of crash:  19121.628096767283

In [71]:
#Q3. What proportion of accidents are attributable to this cause?


# Remove rows where 'CONTRIBUTING FACTOR VEHICLE 1' is 'Unspecified'
filtered_data = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

# Find the most common contributing factor
leading_cause = filtered_data['CONTRIBUTING FACTOR VEHICLE 1'].mode()[0]

# Count the occurrences of each contributing factor
cause_counts = filtered_data['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

# Calculate the total number of crashes where the contributing factor is known
total_known_crashes = cause_counts.sum()

# Determine the number of crashes for the leading cause
leading_cause_count = cause_counts[leading_cause]

# Calculate the proportion of crashes attributable to the leading cause
leading_cause_proportion = leading_cause_count / total_known_crashes *100

print("Leading Cause:",leading_cause)
print("Leading Cause:",leading_cause_proportion)

Leading Cause: Driver Inattention/Distraction
Leading Cause: 30.417970209853078

In [79]:
#Q4 Continuing from the previous question - the top 5 causes of crashes (ignoring 'Unspecified') account for what proportion of total crashes?

# Get the top 5 causes of crashes
top_5_causes = cause_counts.head(5)

# Calculate the total number of crashes for the top 5 causes
top_5_total = top_5_causes.sum()

# Calculate the proportion of total crashes accounted for by the top 5 causes
top_5_proportion = top_5_total / total_known_crashes * 100

print("The top 5 causes of crashes account for:", top_5_proportion)
print("The top 5 causes of crashes: ",top_5_causes)

The top 5 causes of crashes account for: 58.038783742090615
The top 5 causes of crashes:  CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction    401262
Failure to Yield Right-of-Way     119166
Following Too Closely             107467
Backing Unsafely                   75042
Other Vehicular                    62688
Name: count, dtype: int64

In [83]:
#Q5 Considering the entire data since 2012, what is the total count of accidents that involved two or more fatalities?  (Missing values for the number of persons killed should be assumed to be equal to zero killed.)


# Replace missing values in 'NUMBER OF PERSONS KILLED' with 0
df['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

# Filter the data to include only accidents with 2 or more fatalities
two_or_more_fatalities = df[df['NUMBER OF PERSONS KILLED'] >= 2]

# Count the number of such accidents
total_accidents = two_or_more_fatalities.shape[0]

print(total_accidents)

88

/tmp/ipykernel_2139/3223180382.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

In [87]:
#Q6 On average, for every 1000 accidents, how many have resulted in at least one person dead? (hint: divide the count of accidents with 1 or more deaths with the total number of accidents, and multiply by 1000)



df['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

# Count the number of accidents where at least one person was killed
accidents_with_fatalities = df[df['NUMBER OF PERSONS KILLED'] >= 1].shape[0]

# Get the total number of accidents
total_accidents = df.shape[0]

# Calculate the rate of fatal accidents per 1000 accidents
fatal_accidents = (accidents_with_fatalities / total_accidents) * 1000


print(fatal_accidents," accidents result in at least one fatality per 1000 accidents")

1.3893258747079764  accidents result in at least one fatality per 1000 accidents

/tmp/ipykernel_2139/2569581752.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

In [89]:
#Q7 What proportion of accidents in the data do not have a Cross Street Name?



# Count the number of accidents where 'CROSS STREET NAME' is missing or blank
missing_cross_street_count = df['CROSS STREET NAME'].isnull().sum()

# Calculate the total number of accidents in the dataset
total_accidents = df.shape[0]

# Calculate the proportion of accidents without a 'CROSS STREET NAME'
proportion_missing_cross_street = missing_cross_street_count / total_accidents*100

print("The proportion of accidents without a Cross Street Name is", proportion_missing_cross_street)

The proportion of accidents without a Cross Street Name is 37.4350983156158

In [90]:
#Q8 The fields 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2' represent the first two vehicles involved in the accident. Which combination of vehicles have the most number of accidents?

# Group by 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2' and count the number of accidents
vehicle_combination_counts = df.groupby(['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']).size().reset_index(name='counts')

# Find the combination with the most accidents
most_common_combination = vehicle_combination_counts.loc[vehicle_combination_counts['counts'].idxmax()]

print(f"The most common vehicle combination involved in accidents is: {most_common_combination['VEHICLE TYPE CODE 1']} and {most_common_combination['VEHICLE TYPE CODE 2']}")

The most common vehicle combination involved in accidents is: Sedan and Sedan

In [92]:
#Q9 Among crashes where the contributing factor (CONTRIBUTING FACTOR VEHICLE 1) was alcohol involvement, what proportion resulted in a fatality?

# Filter for accidents where alcohol was a contributing factor
alcohol_related = df[df['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement']

# Filter for accidents in this subset that had at least one fatality
fatalities = alcohol_related[alcohol_related['NUMBER OF PERSONS KILLED'] > 0]

# Calculate the proportion of these accidents that resulted in at least one fatality
proportion_fatalities = len(fatalities) / len(alcohol_related)*100

print("The proportion of alcohol-related accidents that resulted in at least one fatality is ", proportion_fatalities)

The proportion of alcohol-related accidents that resulted in at least one fatality is  0.46638345031400075

In [94]:
#Q10 What proportion of crashes occur during the evening rush hour, defined as starting at 4 PM, and before 7 PM?

df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])

evening_rush_hour_crashes = df[(df['CRASH DATE_CRASH TIME'].dt.hour >= 16) & (df['CRASH DATE_CRASH TIME'].dt.hour < 19)]

proportion_evening_rush_hour = len(evening_rush_hour_crashes) / len(df) * 100

print("The proportion of crashes occur during the evening rush hour ", proportion_evening_rush_hour)

The proportion of crashes occur during the evening rush hour  20.514010935243242

In [96]:
#Q11 Among crashes involving motorcycles, what proportion resulted in injuries but no fatalities?

motorcycle_accidents = df[(df['VEHICLE TYPE CODE 1'].str.contains('MOTORCYCLE', na=False)) |
                            (df['VEHICLE TYPE CODE 2'].str.contains('MOTORCYCLE', na=False))]

injuries_no_fatalities = motorcycle_accidents[(motorcycle_accidents['NUMBER OF PERSONS INJURED'] > 0) &
                                              (motorcycle_accidents['NUMBER OF PERSONS KILLED'] == 0)]

# Calculate the proportion of these accidents within the motorcycle-involved accidents
proportion_injuries_no_fatalities = len(injuries_no_fatalities) / len(motorcycle_accidents) * 100

print("The proportion resulted in injuries but no fatalities is ", proportion_injuries_no_fatalities )

The proportion resulted in injuries but no fatalities is  50.04565018912221

In [98]:
#Q12 How many crashes involved bicycles as one of the vehicles?

#Filter for accidents where either vehicle type code indicates a bicycle
bicycle_accidents = df[(df['VEHICLE TYPE CODE 1'].str.contains('BICYCLE', na=False)) |
                         (df['VEHICLE TYPE CODE 2'].str.contains('BICYCLE', na=False))]

# Count the number of such accidents
total_bicycle_accidents = len(bicycle_accidents)

print("The total number of crashes involving bicycles: ", total_bicycle_accidents)

The total number of crashes involving bicycles:  19108